#Deep Learning & Numerics
torch >=2.3.0
numpy >=1.26.0

#Data & Tokenization
datasets >= 2.19.0
tokenizers >= 0.19.0
pandas >= 2.2.0
pyarrow >= 12.0.0  #For speedy data loading and processing

#Retrieval & Eval
faiss-cpu >= 1.8.0  #For efficient similarity search and clustering
rank-bm25 >= 0.2.2
scikit-learn >= 1.4.0


#Experiment Tracking & Logging
mlflow >=2.14.0
omegaconf >= 2.3.0  #For configuration management

#utilities and visualization
tqdm >= 4.66.0  #For progress bars
rich >=13.7.0  #For rich text and beautiful formatting in the terminal
matplotlib >= 3.8.0  

#Dev and Testing
pytest >=8.0.0
ruff >=0.4.0  #For linting and code quality checks
